<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/65160024.jpg" alt="Noona profile">
<p>
    Last year, I had my first opportunity to work on a film set, which was an eye-opening experience. I started early in the morning, preparing the location and handling coordination tasks as a production assistant. The set was bustling with activity and excitement.

A highlight was shooting a crucial scene with several lead actors. I saw firsthand the detailed efforts involved in setting up cameras, lighting, and sound, and how crucial teamwork is to a smooth production.

During breaks, chatting with actors and crew gave me insight into their dedication and professionalism. Despite the long hours and challenges, the satisfaction of seeing our work come to life made it all worthwhile.

This experience taught me valuable skills and allowed me to build connections in the industry, leaving me with lasting memories and pride in the work accomplished.
</p>

  <%- include("partials/footer.ejs") %>